<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heroku Connect App</title>
</head>
<body>
    <h1>User data from Salesforce</h1>
    <h3>This is pulling data from reinteractives Salesforce environment using Heroku Connect</h3>
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>email</th>
        </tr>
    <% users.forEach(user => { %>
        <tr>
            <td><%= user.firstname %></td>
            <td><%= user.lastname %></td>
            <td><%= user.email %></td>
        </tr>
    <% }) %>
    </table>
    
</body>
</html>